@model IEnumerable<AdventureWorksWebApp.Models.Photo>

@{
    ViewBag.Title = "Home Page";
}

<section class="px-4 py-4">
    <div class="mb-4">
        <p>Join, upload, share and comment instantly. Bring your photographic vision to everyone.</p>
        <h2>Latest Photos:</h2>
    </div>

    <div class="row">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img src="#" class="card-img-top" alt="image 1">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                <h4 class="text-muted">No photos available.</h4>
            </div>
        }
    </div>
</section>